/* ---------------Box Sizing----------------- */
    html {
      box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    body {
      background-color: #ECECEC;
      font-weight: bold;
      font-family: Tahoma, Geneva, sans-serif;
      color: #FFF;
      text-align: center;
      line-height: 24px;
      
    }
    #wrapper {
      background-color: #FFF;
      border: 1px solid #c0c0c0;
      width: 1100px;
      height: 200px;
      margin-left: 300px;
      text-shadow: 2px 2px #000;
    }
    #navy {
      background-color: #001f3f;
            position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 150px;

    }
    #teal {
      background-color: #39CCCC;
                  position: absolute;
  top: 0px;
  left: 1600px;
  width: 150px;
  height: 150px;
    }
    #blue {
      background-color: #0074D9;
                  position: absolute;
  top: 1600px;
  left: 0px;
  width: 150px;
  height: 150px;
    }
    #aqua {
      background-color: #7FDBFF;
                  position: absolute;
  top: 1600px;
  left: 1600px;
  width: 150px;
  height: 150px;
    }
    #footer {
      background-color: #666;
                  position: absolute;
  top: 200px;
  left: 668px;
  width: 150px;
  height: 150px;
    }
    h1 {
      color: #000;
      font-weight: normal;
      padding: 50px;
    }
  </style>